Overspecified detail for "when"

This is similar to #10. The intention behind the following statement is unclear:

> A GeoJSON feature has no more than one "when" object

Since a GeoJSON feature is a JSON object, the can "when" cannot occur more than once anyway. And since "when" is an object, not an array, I see no way how one could put in more than one "when" object.

I propose to rephrase this with a wording similar to RFC 7946 section 3.2: https://tools.ietf.org/html/rfc7946#section-3.2


@vog as I replied in #10, JSON standards don't make it clear enough already that keys can't appear more than once.

The "geometry" key can appear multiple times within a GeometryCollection. I think it makes sense that "when" can be a sibling of "geometry," wherever it may appear. This will permit use of GeometryCollection for features that change position or shape over time.